- @podcasts = [ Podcast.new(id: 1, title: 'Test podcast', description: "Lorem ipsum dolor sit amet\nLol *wut*\n\nHaha\n\n>implying\n\nPenis", published_at: (Time.now - Random.rand(10000000)))]
- @podcasts.each do |podcast|
  = cell(:podcast, podcast).call(:index)
