<div class="page-header">
  <%= link_to admin_admins_path, class: 'btn btn-default pull-right' do %>
    <i class="glyphicon glyphicon-list-alt"></i>
    Back
  <% end %>
  <h1>New Admin</h1>
</div>

<%= render 'form' %>

